{
  "_comment": "Replace this file with your actual google-services.json from Firebase Console. See: https://firebase.google.com/docs/android/setup#add-config-file",
  "project_info": {
    "project_number": "YOUR_PROJECT_NUMBER",
    "firebase_url": "https://YOUR_PROJECT_ID.firebaseio.com",
    "project_id": "YOUR_PROJECT_ID",
    "storage_bucket": "YOUR_PROJECT_ID.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:YOUR_PROJECT_NUMBER:android:YOUR_APP_HASH",
        "android_client_info": {
          "package_name": "id.my.kuncir.posyandu.anc"
        }
      },
      "api_key": [
        {
          "current_key": "YOUR_API_KEY"
        }
      ]
    }
  ],
  "configuration_version": "1"
}
